img {
    width: 200px;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: blue;
    margin-top: 50px;
}

.zalando-sans-expanded {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
