body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: blue;
    margin-top: 50px;
}

.mainfont {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    transition: transform 0.3s;
}

.mainfont:hover {
    color: #0033ff;
    text-shadow: #6986fb 0px 0px 4px;
    transform: scale(1.05);
}

.image {
    width: 200px;
    transition: transform 0.3s;
}

.image:hover {
    transform: scale(1.05);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    font-size: 20px;
    color: #0b0752;
}

a {
  text-decoration: none;
}

.links {
    color: #1a0dab;
    text-decoration: none;
    font-size: 18px;
}
